.content-inner {
  padding-top: 30px;
  padding-bottom: 70px;
  display: inline-flex;
  width: calc(100% - 40px);
}

.intro {
  &__image {
    padding-bottom: 20px;

    img {
      width: 100%;
      border-radius: 10px;
      max-width: 100%;
    }
  }
  &__type {
    &__item {
      clear: both;
      overflow: auto;

      .title {
        font-size: 28px;
        margin-top: 30px;
        margin-bottom: 30px;

        a {
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .content {
        p {
          font-size: 15px;
          line-height: 20px;
        }

        img {
          max-width: 372px;
          margin-right: 20px;
          border-radius: 10px;
          float: left;
        }
      }
    }
  }
}