.findus__info {
  display: inline-flex;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
  
  &>* {
    width: 50%;
  }

  [class$="title"] {
    font-weight: 520;
    font-size: 22px;
    margin-bottom: 15px;
  }

  [class$="content"] > *{
    line-height: 22px;
  }

  span {
    width: 50px;
    display: inline-block;
  }

}

.address__content {
  font-size: 17px;
}


.findus__map {
  margin-top: 45px;
}