.footer {
  font-size: 13.6px;
  a {
    color: black;

    &:hover {
      color: gray;
    }
  }

}

.footer-inner {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.time {
  span {
    display: inline-block;
    padding: 2px;
    box-shadow: 0 1px 2px #595959;
    text-align: center;
    font-weight: 700;
    width: 10px;
    border-radius: 4px;
    position: relative;
    margin-left: 2px;

    &:after {
      content: "";
      display: block;
      height: 1px;
      position: absolute;
      top: 52%;
      margin-top: -1px;
      background: rgba(0,0,0,.25);
      width: 100%;
      left: 0;
    }
  }
}