
.title-wrapper {
  background-color: #535353;

  .title {
    font-size: 47px;
  }

  .subtitle {
    font-size: 22px;
    color: white;
  }
}

.nav {
  background-color: #303030;
  padding-top: 10px;
  padding-bottom: 10px;
  
  ul {
    li {
      display: inline;
      margin-right: 30px;

      a {
        color: white;
        text-decoration: none;

        &:hover  {
          text-decoration: underline;
        }
      }
    }
  }
}

[class$="inner"] {
  padding: 0 20px 0 20px;
}

.title-wrapper-inner {
  padding-top: 30px;
  padding-bottom: 30px;
}