.menu__item {
  font-weight: 400;
  margin-top: 30px;
  .title, .sushi {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .description {
    margin-top: 30px;
  }

  .break-dash {
    margin-top: 30px;
  }
}

.pagin {
  text-align: right;
  margin-top: 20px;
  a {
    display: inline-block;
    padding: 5px;
    box-shadow: 0 1px 2px #595959;
    border-radius: 5px;
    text-decoration: none;

    &:hover {
      background-color: lightgray;
    }
  }
  .prev {
    margin-right: 10px;
  }
}

.not-active {
  pointer-events: none;
  cursor: default;
  color: gray;
}