* {
  padding: 0;
  margin: 0;
  font-family: sans-serif
}

body {
  background-image: url('../imgs/wine.png');
  background-color: #d5f46b;
  background-repeat: repeat-x;
  background-position: 0 0;
  /*background-attachment: scroll;*/
  background-size: auto;
}

.container {
  max-width: 980px;
  box-shadow: 0 0 24px rgba(0, 0, 0, .8);
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
  margin-bottom: 40px;
  background-color: white;
}

ul {
  list-style: none;
}

.main-color {
  color: #d5f46b;
}


.break {
  &-solid {
    border-top: 1px solid lightgray;
  }

  &-dash {
    border-top: 3px dotted rgba(0, 0, 0, .2);
  }
}

a {
  color: black;
}

.active {
  text-shadow: 1px 0 0 currentColor;
}

.block {
  width: 75%;

  &__title {
    font-weight: 500;
    font-size: 28px;
    margin-top: 10px;
  }
}


