.share-page {
  margin: 0 auto;
  width: 25%;
  margin-left: 20px;

  .title {
    font-size: 22px;
    margin-bottom: 22px;
  }

  a {
    font-size: 16px;
    line-height: 25px;

    img {
      width: 18px;
      height: 18px;
      margin-right: 10px;
      border-radius: 3px;
      margin-bottom: -2px;
    }
  }

  a:hover {
    color: gray;
  }

  .share-page__content {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    margin-bottom: 32px;
  }
}
