extends layouts/default

block content
  .findus
    .block__title Find us
    .findus__info
      .address
        .address__title Address and contact:
        .address__content
          div The Sushi Restaurant
          div New York, NY, USA
          br
          div
            span.feild Tel:
            content 12345
          br
          div 
            span.feild Email:
            content your-email@your-email.com
      .opening
        .opening__title Opening hours:
        .opening__content
          div Monday Closed
          div Tuesday 12 - 22
          div Wednesday 12 - 22
          div Thursday 12 - 22
          div Friday 11 - 23
          div Saturday 11 - 23
          div Sunday 11 - 22
    .break-dash
      img(src="imgs/map.png", alt="").findus__map