extends layouts/default

block content
  .intro
    .intro__image
      img(src="imgs/1.jpg")
    .break-dash
    .intro__type
      .intro__type__item
        .title
          a(href="sushi.html") 24 types of sushi rolls
        .content
          p
            img(src="imgs/2.jpg")
            |Lorem ipsum dolor sit amet, consectetu massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit 
      .intro__type__item
        .title
          a(href="#") 24 types of sushi rolls
        .content
          p
            img(src="imgs/2.jpg")
            |Lorem ipsum dolor sit amet, consectetu massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit
      
      .pagin
        a(href="").prev.not-active Prev
        a(href="").next Next