extends layouts/default

block content
  .menu
    .block__title Menu and Price list
    .menu__item
      .break-solid
      .title
        div Menu 1
        div Price
      .break-solid
      .sushi
        .name Claritas est etiam processus
        .price €15.00
      .description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      .break-dash
    .menu__item
      .break-solid
      .title
        div Menu 2
        div Price
      .break-solid
      .sushi
        .name Claritas est etiam processus
        .price €15.00
      .description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      .break-dash
    .pagin
      a(href="").prev.not-active Prev
      a(href="").next Next