doctype html
html.no-js(lang='')
  head
    title webapp
    link(href="styles/main.css", rel='stylesheet')
  body
    .container
      .header
        .header-inner
          .header__name-store The Sushi Restaurant a dfd
          .header__description Welcome to this website
      .nav
        .nav-inner
          ul
            li
              a(href="index.html" ) Home
            li
              a(href="menu.html") Menu and Price list
            li
              a(href="menu.html").active Find us
      .content
        .block
          block content
        .share-page
          .share-page__content
            .share-page__content__title Share this page
            .share-page__content__links
              .share-page__content__links__link
                img(src="imgs/1.jpg")
                a(href="#") Share on Facebook
              .share-page__content__links__link
                img(src="imgs/1.jpg")
                a(href="#") Share on Twiter
              .share-page__content__links__link
                img(src="imgs/1.jpg")
                a(href="#") Share on Google
          .share-page__content
            .share-page__content__title Share this page
            .share-page__content__links
              .share-page__content__links__link
                img(src="imgs/1.jpg")
                a(href="#") Share on Facebook
              .share-page__content__links__link
                img(src="imgs/1.jpg")
                a(href="#") Share on Twiter
              .share-page__content__links__link
                img(src="imgs/1.jpg")
                a(href="#") Share on Google
      .footer
    