doctype html
html
  head
    title Sushi Restaurant
    link(rel='stylesheet', href='styles/main.css')
  body
    .container
      .header
        .title-wrapper
          .title-wrapper-inner
            .title.main-color The Sushi Restaurant
            .subtitle Welcome to this website
        .nav
          .nav-inner
            ul
              li
                a(href="/index.html").active Home
              li 
                a(href="/menu.html") Menu and Price list
              li 
                a(href="/findus.html") Find us
      .content
        .content-inner
          .block
            block content
          .share-page
            .share-page__content
              .title Share this page
              ul
                li
                  a(href="#")
                    img(src="imgs/1.jpg")
                    span Share on Facebook
                li
                  a(href="#")
                    img(src="imgs/2.jpg")
                    span Share on Twitter
                li
                  a(href="#") 
                    img(src="imgs/1.jpg")
                    span Share on Google+
            .share-page__content
              .title Share this page
              ul
                li
                  a(href="#")
                    img(src="imgs/1.jpg")
                    span Share on Facebook
                li
                  a(href="#")
                    img(src="imgs/2.jpg")
                    span Share on Twitter
                li
                  a(href="#") 
                    img(src="imgs/1.jpg")
                    span Share on Google+
      .footer
        .inner
          .break-solid
        .footer-inner
          a(href="#") Created with SimpleSite
          .time
            span 1
            span 2
            span 3
            span 2
            span 2
            span 2