.content {
  display: inline-flex;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
}
.block {
  width: 70%;
}

.share-page {
  width: calc(30% - 20px);
  padding-right: 20px;
  box-sizing: border-box;

  &__content {
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 30px;

    &__title {
      
    }

    &__links {
      margin-top: 10px;
      &__link {
        img {
          width: 20px;
          height: 20px;
          border-radius: 5px;
          margin-right: 5px;
        }

        a {
          color: black;

          &:hover {
            color: gray;
          }
        }
      }
    }
  }
}
