
.header  {
  &-inner {
    background-color: #535353;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    padding-left: 20px;
  }

  &__name-store {
    margin-bottom: 10px;
    font-size: 47px;
    color: #d5f46b;
  }

  &__description {
    font-size: 22px;
  }
}

