.nav {
  &-inner {
    background-color: #303030;
    padding: 10px 0 10px 20px;
    ul {
      list-style: none;
      display: inline-flex;

      li {

        margin-right: 30px;
        
        a { 
          color: white;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.active {
  text-shadow: 1px 0 0 currentColor;
}