* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  max-width: 912px;
  margin: 0 auto;
}

.flex-space {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.break-dash {
  border-top: 3px dotted rgba(0, 0, 0, .2);
}